*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    background:cornsilk;
    height: 100px;
    display: grid;
    align-items: center;
    box-shadow: bisque;
    padding: 20px 20px;
    margin: 10px 20px;
}
.nav-main{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
}

body{
    height: 80vh;
}

h4{
    font-size: 30px;
    color: chocolate;
}

.list-item{
    display: inline-block;
    padding: 20px 10px;
    font-size: 20px;

}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: palevioletred;
}

.container{

    margin: 80px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.middle{
    width: 100vw;
    height: 150px;
    padding: 20px;
    margin-bottom: 30px;
    justify-items: center;
    color: chocolate;
    background: cornsilk;
    text-align: center;
    font-size: 28px;
}

.middle h2{
    padding-top: 10px;
}

button{
    font-size: 2.5rem;
    border-radius: 10%;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
}

.repo-link{
    margin-top: 50px;
    display: inline;

}


ion-icon{
    font-size: 72px;
    color: chocolate;
}

.repo-link a{
    text-decoration: none;
}
.repo-link a:hover{
    color: chocolate;
}

@media screen and (max-width: 375px){
    .middle{
        font-size: 20px;
    }
}